{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}

<main class="py-8">
  <!---bouton + -->
<section id="call-to-action">
  <div class="container mx-auto flex-col justify-center items-center">
    <div class="pb-8 text-center">
      <h2 class="text-3xl font-bold mb-4">Essayez notre CMS gratuitement</h2>
      <p class="text-xl">Créez votre site web ou blog en quelques minutes</p>
      <img src="../Img/4823016.jpg" alt="Image d'accueil" class="py-12 w-full rounded-lg">
    </div>
  </div>
</section>



<div class="p-12 w-full flex flex-col justify-center items-center">
  <h1 class="text-3xl font-bold mb-4">Nom de votre site</h1>
  <input class="p-3 w-80 h-12 text-2xl font-bold bg-white shadow-lg border-2 border-blue-600 rounded-lg" type="text" name="nomSite"/>
  <a href="#" class="text-2xl text-white font-semibold">
    <div class="rounded-lg my-6 py-3 px-6 bg-black hover:bg-blue-600">
      <p>Modifier</p>
    </div>
  </a>
</div>

<div class="text-center">
  <h2 class="text-3xl font-bold mb-4">Vos pages :</h2>
  <a href="{{ path('app_create_page') }}" ><p class="justify-center hover:bg-blue-600 text-white font-semibold text-center bg-black rounded-lg my-6 p-4">Ajouter une page</p></a>
</div>

<div class="w-full p-8 h-fit flex flex-col justify-center place-items-center">
  <ul class="list-none flex">
    {% for page in pages %}
      <li><a href="{{ path('app_showPage', {'id' : page.id})}}">
        <div class="h-52 w-52 flex my-6 mx-20 rounded-lg bg-gray-400">
          <img class="rounded-lg" src="{{ asset('photo/' ~ page.Image) }}" alt="Image principale de la page">
        </div>
      </a>
      <p class="text-lg font-semibold text-center">{{page.Titre}}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
