{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="h-screen w-8/12">
    <div class="py-3 rounded-lg bg-blue-400 shadow">
        <h1 class="text-3xl font-medium text-center">À Propos de CMS Master</h1>
        <br>
        <p class="text-lg font-medium text-center">Bienvenue sur CMS Master, votre partenaire privilégié dans la création de sites web exceptionnels. Nous sommes passionnés par l'autonomisation de chacun, des novices aux professionnels du web, en offrant une plateforme de gestion de contenu (CMS) avancée et conviviale.</p>
    </div>
    <br>
    <br>
    <br>
    <div class="py-3 rounded-lg bg-blue-300 shadow">
        <h2 class="text-2xl font-medium text-center">Notre Mission</h2>
        <br>
        <p class="text-lg font-medium text-center">Chez CMS Master, nous croyons que chaque personne devrait avoir la possibilité de partager sa vision avec le monde grâce à un site web unique et professionnel. Notre mission est de simplifier le processus de création de site web, en offrant des outils puissants et intuitifs, sans compromettre la flexibilité et la personnalisation.</p>
    </div>
    <br>
    <br>
    <div class="py-3 rounded-lg bg-blue-300 shadow">
        <h2 class="text-2xl font-medium text-center">Puissance et Souplesse</h2>
        <br>
        <p class="text-lg font-medium text-center">CMS Master offre une puissante suite d'outils de création de site web, permettant aux utilisateurs de concevoir des sites riches en fonctionnalités, de la simple page personnelle aux sites d'entreprise complexes.</p>
    </div>
    <br>
    <br>
    <div class="py-3 rounded-lg bg-blue-300 shadow">
        <h2 class="text-2xl font-medium text-center">Interface Conviviale</h2>
        <br>
        <p class="text-lg font-medium text-center">Notre interface conviviale assure une expérience de création sans tracas. Pas besoin d'être un expert en programmation – créez et modifiez votre site avec facilité grâce à notre interface intuitive et réactive.</p>
    </div>
    <br>
    <br>
    <div class="py-3 rounded-lg bg-blue-300 shadow">
        <h2 class="text-2xl font-medium text-center">Personnalisation Illimitée</h2>
        <br>
        <p class="text-lg font-medium text-center">Exprimez votre créativité sans limites. CMS Master propose une gamme étendue de modèles personnalisables, d'options de design et de fonctionnalités pour vous permettre de créer un site web qui vous ressemble.</p>
    </div>
    <br>
    <br>
    <div class="py-3 rounded-lg bg-blue-300 shadow">
        <h2 class="text-2xl font-medium text-center">Assistance Exceptionnelle</h2>
        <br>
        <p class="text-lg font-medium text-center">Notre équipe d'assistance dévouée est toujours prête à vous aider. Des tutoriels détaillés aux réponses rapides à vos questions, nous sommes là pour vous soutenir à chaque étape de votre parcours de création de site.</p>
    </div>
</div>
{% endblock %}