{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="h-screen w-screen">
    <p class="text-lg font-medium text-center">Besoin d'un renseignement ou simplement de me contacter je reste joignable sur cette adresse mail : </p>
    <p class="text-lg font-medium text-center">Mettre adresse mail du profil</p>
</div>
{% endblock %}